@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .active-button {
    background-color: #6161d680;
    border-image: linear-gradient(to right, green, lightgreen);
    box-shadow: 4px 4px 20px 8px #7878fa26;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

th,
td {
  padding-block: 16px;
  padding-inline: 10px;
  text-align: left;
}

tr + tr {
  margin-top: 8px;
}

[data-theme="dark"] [data-hide-on-theme="dark"],
[data-theme="light"] [data-hide-on-theme="light"] {
  display: none;
}
